.home {
  display: flex;
}

.productContainer {
  width: 78%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* single product card */

.products {
  width: 30%;
  margin: 10px;
}

/* filter */
.filters {
  background-color: dimgray;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: ;
}
