/* mini cart */
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.cartItemImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#delete {
  color: red;
}
.cartItemDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 20px;
}

.home {
  display: flex;
}

.productContainer {
  width: 78%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* single product card */

.products {
  width: 30%;
  margin: 10px;
}

/* filter */
.filters {
  background-color: dimgray;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}
