@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  color: #4d4d4d;
  background: #fff;
  overflow: hidden;
  text-align: left;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container styling */

.card-container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-width: 998px;
  min-height: 256px;
  border-radius: 5px;
  display: flex;
  position: relative;
}
.card-main-img {
  width: 25%;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}

/* container 1 - image  */

.card-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* driver details container  */

.driver-details-top {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-left: 30px;
  padding-top: 8px;
}

.driver-details-top span h5 {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 400;
  padding-bottom: 10px;
}
/* ul buttons */

.driver-details-tab ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 8px;
}
.driver-details-tab ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.driver-details-tab > ul li {
  list-style-type: none;
  margin-right: 20px;
  height: 30px;
  width: 50px;
  outline: 0;
  cursor: pointer;
  color: rgb(72, 76, 122);
  border-radius: 15px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}

.driver-details-tab ul li img {
  max-height: 15px;
}

.driver-details-top hr {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e2dede;
  margin-top: 10px;
  padding: 0px;
}
/*  middle logo section */

.logo-section {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.logo-section a {
  display: inline-block;
  width: 150px;
  /* height: 100%; */
}

.info > ul {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  li:before {
    content: "✓";
    padding-right: 5px;
  }
}

/* driver details bottom contact*/
.driver-details-buttons {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  bottom: 0;
  width: 380px;
  left: 290px;
}

.driver-details-buttons ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
  padding-bottom: 10px;
}

.driver-details-buttons li {
  background-color: #f0f0f0;
  padding: 10px 55px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.driver-details-buttons img {
  filter: invert(1);
  width: 100%;
}

.driver-details-buttons li:first-child {
  border-radius: 20px 0px 0px 20px;
  background: #eb8515;
}
.driver-details-buttons li:last-child {
  border-radius: 0px 20px 20px 0px;
  background: #4d4d4d;
}
.driver-details-buttons li:nth-child(2) {
  background: #54cc5c;
}
.driver-details-buttons li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Price section */
.card-price-details {
  padding: 20px;
  border-left: 1px solid black;
  height: 80%;
  margin: 10px auto;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e2dede;
  margin-left: 10px;
  width: 170px;
  min-width: 170px;
}

.card-price-details h4 {
  font-size: 2rem;
  font-weight: 400;
}
.price-span {
  display: flex;
}
.price-span img {
  width: 20px;
  margin-right: 10px;
}

/* mobile responsive */

@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 350px;
    height: 600px;
    min-height: 65%;
    border-radius: 30px;
    position: relative;
  }

  /* main image */
  .card-main-img {
    width: 350px;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  /* driver details tab */
  .card-driver-details {
    position: relative;
  }

  /* driver details price */
  .card-price-details {
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0;
    border: 0;
    top: 350px;
    padding-left: 30px;
    margin-left: 10px;
    h4 {
      font-size: 1.5rem;
    }
  }

  .logo {
    position: absolute;
    top: -95px;
    right: -60px;
    #logo {
      width: 60%;
    }
  }
  .logo-section {
    padding-top: 100px;

    ul {
      padding-left: 0;
    }
  }
  .driver-details-buttons {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 350px;

    li {
      padding: 5px 46px;
      margin: 0;

      a {
        img {
          width: 25px;
          object-fit: contain;
        }
      }
    }

    li:first-child {
      border-radius: 0px 0px 0px 30px;
    }
    li:last-child {
      border-radius: 0px 0px 30px 0px;
    }
  }
}
