@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);

  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--bg-main);
  font-family: "Outfit", sans-serif;
  color: var(--color-soft-blue);
  font-weight: 300;
  line-height: 1.6;
}

/* card */
.card {
  background: var(--bg-card);
  padding: 1.5rem 1.6rem 2rem;
  margin: 9.5rem auto;
  border-radius: 15px;
  width: min(87.5%, 22rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}

/* hero image */
.image-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

#hero-img {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--color-cyan);
  border-radius: 10px;
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.image-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.image-container:hover .overlay + .view {
  display: block;
}

.title {
  color: var(--color-white);
  margin: 1.4rem 0 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.description {
  font-size: 1.1rem;
  letter-spacing: 0.015em;
  margin-bottom: 1rem;
  font-weight: 300;
}

.eth-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1.4rem;
}

.eth {
  color: var(--colour-cyan);
  font-weight: 600;
}

.info {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
}

/* creator info */

.creator-info {
  display: flex;
  border-top: 1px solid var(--color-line);
  padding-top: 1rem;
  align-items: center;
}
.avatar {
  border: 1px solid --color-white;
  border-radius: 50%;
  width: 2rem;
  height: auto;
  margin-right: 1rem;
}
.creator-text {
  font-weight: 300;
}

.creator-name {
  color: var(--color-white);
}

.title:hover,
.creator-name:hover {
  color: var(--color-cyan);
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .eth-info {
    flex-direction: column;
  }
}
