* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --tomato-red: hsl(4, 100%, 67%);
  --dark-slate-Grey: hsl(234, 29%, 20%);
  --charcoal-Grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
