@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  border: 1px solid red;
}

.progress-container {
  border: 1px solid black;
  display: flex;
}

.progress {
  border: 1px solid yellow;
}
